@tailwind base;
    @tailwind components;
    @tailwind utilities;

    body {
      background-image: url('/all_background.svg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      color: white;
      min-height: 100vh;
    }

    @keyframes print-animation {
      from {
        transform: translateY(100%);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }
    
    .print-effect {
      animation: print-animation 1.5s ease-out forwards;
    }