@import "pretendard/dist/web/static/pretendard.css";

@tailwind base;
    @tailwind components;
    @tailwind utilities;

    * {
      font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
      font-weight: 400;
    }

    body {
      background-image: url('/all_background.svg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      color: white;
      min-height: 100vh;
    }

    @keyframes print-animation {
      from {
        transform: translateY(100%);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }
    
    .print-effect {
      animation: print-animation 1.5s ease-out forwards;
    }